<h1>Realms</h1>
<div *ngIf="email" style="text-align: center">
  <h2>username: {{ username }}</h2>
  <h2>email: {{ email }}</h2>
</div>
<button mat-raised-button (click)="logout()">Logout</button>
<button mat-raised-button (click)="openRealmDialog()">Create new Realm</button>
<div class="table-wrapper">
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="realmData" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let realm">{{ realm.id.substring(0, 5) }}...</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let realm">{{ realm.name }}</td>
      </ng-container>

      <ng-container matColumnDef="realmApplications">
        <th mat-header-cell *matHeaderCellDef>Realm Applications</th>
        <td mat-cell *matCellDef="let realm">
          <button mat-raised-button (click)="openRealmApplicationDialog(realm)" style="margin: 1rem; padding: 0.5rem">
            Add
          </button>
          <ul *ngFor="let realmApplication of realm.realmApplications">
            <li
              style="background-color: aqua; cursor: pointer; padding: 1rem; margin: 0.5rem"
              (click)="openRealmApplicationDialog(realm, realmApplication)"
            >
              {{ realmApplication.displayName }}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="realmRoles">
        <th mat-header-cell *matHeaderCellDef>Roles</th>
        <td mat-cell *matCellDef="let realm">
          <button mat-raised-button (click)="openRealmRolesDialog(realm)" style="margin: 1rem; padding: 0.5rem">
            Add
          </button>
          <ul *ngFor="let realmRole of realm.realmRoles">
            <li
              (click)="openRealmRolesDialog(realm, realmRole)"
              style="background-color: aqua; cursor: pointer; padding: 1rem; margin: 0.5rem"
            >
              {{ realmRole.name }}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="realm-action-buttons" mat-cell *matCellDef="let realm">
          <button mat-raised-button (click)="openRealmDialog(realm)">Edit</button>
          <button mat-raised-button (click)="deleteRealm(realm)">Delete</button>
          <button mat-raised-button (click)="showAllUserForRealm(realm)">Show Users</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="realmColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: realmColumns"></tr>
    </table>
  </div>
</div>
