<div class="realm-dialog-wrapper">
  <form class="realm-form" [formGroup]="realmApplicationForm" (ngSubmit)="onSubmit()">
    <div class="form-fields-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>ClientId</mat-label>
        <input matInput placeholder="Master-Client" formControlName="clientId" id="clientId" required />
        <mat-error *ngIf="!this.realmApplicationForm.valid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>ClientSecret</mat-label>
        <input matInput placeholder="SuperSecretPassword" formControlName="clientSecret" id="clientSecret" required />
        <mat-error *ngIf="!this.realmApplicationForm.valid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Display name</mat-label>
        <input matInput placeholder="This is the user client" formControlName="displayName" id="displayName" required />
        <mat-error *ngIf="!this.realmApplicationForm.valid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>

      <div class="container-urls">
        <p>RealmApplication URL's</p>
        <mat-accordion *ngFor="let realmApplicationURL of realmApplicationURLs">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>{{ realmApplicationURL.url }}</mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-raised-button type="button" (click)="deleteRealmApplicationURL(realmApplicationURL)">
              Delete
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>URL</mat-label>
        <input matInput placeholder="http://test" formControlName="realmApplicationUrl" id="realmApplicationUrl" />
      </mat-form-field>
      <button mat-raised-button type="button" (click)="addRealmApplicationURL()">Add</button>

      <div class="container-urls">
        <p>External Provider</p>
        <mat-accordion *ngFor="let externalProvider of externalProviders">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>{{ externalProvider.name }}</mat-panel-title>
              <mat-panel-title>{{ externalProvider.key }}</mat-panel-title>
              <mat-panel-title>{{ externalProvider.secret }}</mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-raised-button type="button" (click)="deleteExternalProvider(externalProvider)">Delete</button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div formGroupName="externalProvider">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Google" formControlName="name" id="externalName" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Key</mat-label>
          <input matInput placeholder="xxxx" formControlName="key" id="externalKey" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Secret</mat-label>
          <input matInput placeholder="xxxx" formControlName="secret" id="externalSecret" />
        </mat-form-field>
      </div>
      <button mat-raised-button type="button" (click)="addExternalProvider()">Add</button>
    </div>
  </form>
  <br />
  <button mat-raised-button (click)="onSubmit()" [disabled]="!realmApplicationForm.valid">
    {{ this.data.realmApplication ? 'Update RealmApplication' : 'Create RealmApplication' }}
  </button>
  <button mat-raised-button (click)="deleteRealmApplication()" *ngIf="this.data.realmApplication">Delete</button>
</div>
