.form-fields-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.realm-dialog-wrapper {
  max-height: 700px;
}

mat-accordion {
  margin: 0 0.5rem;
}
