.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .login-card {
    margin: 2rem;
    width: 69%;
    height: 500px;
    display: flex;
    flex-direction: column;

    input,
    button {
      margin: 0.5rem;
    }

    input {
      height: 40px;
    }

    button {
      height: 30px;
      align-self: center;
    }
  }
}
