<h1>All Users for Realm: {{ this.realmId }}</h1>
<div *ngIf="email" style="text-align: center">
  <h2>username: {{ username }}</h2>
  <h2>email: {{ email }}</h2>
</div>
<button mat-raised-button (click)="navigateToRealms()">Back</button>
<div class="table-wrapper">
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="userData" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let user">{{ user.id.substring(0, 5) }}...</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-Mail</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">
          {{ user.username }}
        </td>
      </ng-container>

      <ng-container matColumnDef="emailConfirmed">
        <th mat-header-cell *matHeaderCellDef>E-Mail Confirmed</th>
        <td mat-cell *matCellDef="let user">
          {{ user.emailConfirmed }}
        </td>
      </ng-container>

      <ng-container matColumnDef="realmRoles">
        <th mat-header-cell *matHeaderCellDef>Realm Roles</th>
        <td mat-cell *matCellDef="let user">
          <button mat-raised-button (click)="openAddRealmRoleToUserDialog(user)">Edit Roles</button>
          <ul *ngFor="let realmRole of user.realmRoles">
            <li style="background-color: aqua; cursor: pointer; padding: 1rem; margin: 0.5rem">
              {{ realmRole.name }}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="realmApplications">
        <th mat-header-cell *matHeaderCellDef>Realm Applications</th>
        <td mat-cell *matCellDef="let user">
          {{ user.realmApplication.clientId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="user-action-buttons" mat-cell *matCellDef="let user">
          <button mat-raised-button (click)="logoutUser(user)">Logout</button>
          <button mat-raised-button (click)="banUser(user)" *ngIf="!user.banned">Ban</button>
          <button mat-raised-button (click)="unbanUser(user)" *ngIf="user.banned">Unban</button>
          <button mat-raised-button (click)="openEditUserModal(user)">Edit</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="userColums"></tr>
      <tr mat-row *matRowDef="let row; columns: userColums"></tr>
    </table>
  </div>
</div>
